.flag-container {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: rgb(48, 50, 52);
  justify-content: flex-start;
}

.tech-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
  margin: auto;
  
}

.fa-flag {
  font-size: 20px;
  color: rgb(2, 135, 55);
}



.flag-month {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
}

.flag-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 15px;
  
}