.metric-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.metric-container > td, th {
  padding: 5px;
  font-size: 16px;
}

.table-header  th {
  background-color: rgb(0, 62, 84);
  color: white;
}

.inner-header {
  background-color: #07799f;
}

.performance {
  background-color: goldenrod;
  color: black;
}

.dispatch {
  background-color: rgb(144, 191, 144);
  color: black;
}

.hpc {
  background-color: rebeccapurple;
  color: black;
}

.quality {
  background-color: rgb(43, 161, 233);
  color: black;
}

.voc {
  background-color: rgb(10, 235, 160);
  color: black;
}

.epic {
  background-color: yellow;
  color: black;
}

.stats {
  background-color: wheat;
  color: black;
}

.admin {
  background-color: darkolivegreen;
  color: black;
}


.actions-table {
  width: 40%;
  margin: auto ;
  border: 1px solid black;
}

.actions-table  td {
  text-align: left;
  padding-left: 2px;
}

.red {
  background-color: red;
}

.cmp {
  background-color: greenyellow;
}

.alert th {
  background-color: red;
}

.label {
  width: 100%;
  background-color: rgb(230, 156, 46);
  padding: 5px;
  text-align: center;
}