.hpc-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
}


.hpc-container > table {
  width: 60%;
  margin: 0 auto;
  
}

.hpc-info > thead{
  background-color: rgb(0, 62, 84);
  color: white;
}

.hpc-info > tbody:nth-child(odd){
  background-color: #00a8e0;
}

.hpc-info > tbody:nth-child(even){
  background-color: #04779d;
}

.hpc-info > th , td {
  background-color: white;
  text-align: center;
  border: 1px solid black;  
  padding: 0;
}

.label > h2{
  width: 100%;
  background-color: rgb(230, 156, 46);
}