.employee-card {
  border-top: slategray 1px solid;
  border-bottom: slategray 1px solid;
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.even {
  background-color: lightgrey;
}

.card-item {
  width: 12.5%;
}

.image {
  /* background-color: violet; */
  height: 100%;
  width: 12.5%;
}

.info-card {
  display: flex;
  flex-direction: column;
  border-right: dashed 1px slategray;
  text-align: center;
  height: 100%;
  width: 20%;
}
.info-data {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 2vh;
  text-align: center;
  margin: auto;
  padding: 5px;
  /* vertical-align: middle; */
}

.image > img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
}

.card-item {
  /* display: block; */
  padding-bottom: 10px;
  text-align: center;
  /* margin: auto; */
  /* font-size: 20px; */
}

.card-item > h3 {
  padding-top: 50%;
  font-size: 2.5vh;
}

.card-item > h2 {
  padding-top: 5px;
  font-size: 2vh;
}

.info-data {
  display: inline-block;  
}

.emp-name {
  font-size: 3vh;
}

.contact {
  font-size: 1.5vh;
}

.tenure {
  background-color: rgb(76, 80, 84);
  height: 15%;
  width: 60%;
  color: white;
  font-size: .9vh;
  font-weight: 900;
  padding-top: 8px;
  border-radius: 30px;
}