.hpc-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
}

.hpc-container > table {
  width: 60%;
  margin: 0 auto;
  
}


.hpc-info > th , td {
  text-align: center;
  border: 1px solid black;  
  padding: 0;
}

.label > h2{
  width: 100%;
  background-color: rgb(230, 156, 46);
}