* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #141d26;
  color: #ffffff; */
  min-width: 320px;

}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(48, 50, 52);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
  width: 40px;
  height: auto;
}

.icon-bar {
  padding: 20px 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid darkgray;
}

.fa {
  text-align: center;
  font-size: 40px;
}

h4 {
  font-size: 13px;
  color: rgb(71, 79, 79);
}

.chart, .task, .globe, .docs {
  color: rgb(13, 100, 250);
}

.news {
  color: rgb(114, 67, 67);
}

.tri {
  color: red;
}

.users {
  color: orangered;
}

.truck {
  color: rgb(116, 101, 101);
}

.link {
  color: rgb(116, 101, 101);
}

.table {
  color: rgb(254, 182, 1);
}

.trophy {
  color: rgb(2, 135, 55);
}

/* .home-dispaly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

.home-dispaly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.manager-container {
  width: 100%; 
  width: 100vw;
  border: 1px solid red;
}

.links {
  text-decoration: none;
  color: rgb(13, 100, 250);
  font-weight: 500;
}

td {
  text-align: center;
  vertical-align: middle;
}

/* td:hover {
  background-color: white;
  opacity: 50%;
} */