nav {
  padding: 10px 15px;
  background-color: rgb(48, 50, 52);
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0; 
}

.logo {
  width: 90%;
}

img {
  flex: 2;
  width: 5vh;
}

.nav-icons {
  flex: 1;
  color: white;
  font-size: 4vh;
  border: solid white 1px;
  border-radius: 10px;
  
}

.block {
  height: 50%;
}

